html, body {
 height:100%;
 width: 100%;
 margin: 0;
 border: 0;
}
#wrap{
  background: rgba(255,255,255,0);
  color: white;
  height: 100%;
  width: 100%;
}
#content{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 98;
  height: 480px;
  width: 512px;
  transform: translate(-50%,-50%);
  border-radius: 25px;
  background-color:rgba(255,255,255,0.0);
}
#ivideo{
  background-color:black;
  height:100%;
  width: 100%;
  overflow: hidden;
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
}
